#nav{
    background-image: url("https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/7064950/910/607/m2/fpnw/wm1/rqaqqo1djajpvvi1haj4cha0om8jetidkx9p0scx0b5jh7c1uamufvum2eofl8cq-.jpg?1569963450&s=8973611cb03c12157cbfda58b4b32a3a");
    border: 1px solid black;
    height: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: rgb(210, 247, 234);
    font-size: 100px;
    font-family: 'Satisfy', cursive;
}
#card_container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
#search_cnt{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search_div{
    display: flex;
    flex-direction: row;
}
#search_input{
    height: 60px;
    width: 600px;
    background:linear-gradient(135deg,rgb(185, 243, 185),rgb(149, 155, 185),rgb(103, 130, 248));
    border-radius: 20px;
    font-size: 20px;
    margin-top: 10px;
}
#search{
    width: 100px;
    color: green;
    margin-top: 10px;
    border-radius: 10px;
}
#search:hover{
    background-color:green;
    color: azure;
    
}
@media (max-width:740px) {
    #nav{
        font-size: 60px;
    }
    #search_input{
        width: 400px;
    }
}
@media(max-width:400px){
    #nav{
        font-size: 40px;
        background-image: url("https://th.bing.com/th/id/OIP.bfg9UXXeY_D61zT2d9-agAAAAA?rs=1&pid=ImgDetMain");
    }
}
@media(max-width:550px){
    #search_input{
        width: 200px;
        height: 40px;
    }
}
.card_items{
    box-shadow: 10px 10px 3px grey;
    /* border: 1px solid black; */
    width: 350px;
    margin-top: 50px;
    background: linear-gradient(rgb(236, 211, 165),rgb(211, 232, 177));

}
.card_items:hover{
    transform: scale(1.05);
}
.image{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.calories{
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width:1100px){
    #card_container{
        display:grid;
        grid-template-columns: auto auto ;
        /* justify-content: space-evenly; */
    }
}
@media (max-width:787px){
    #card_container{
        display:grid;
        grid-template-columns: auto  ;
    }
}
.heading{
    color: teal;
}
.details{
    color: indigo;
}
.buttons{
    display: flex;
    flex-direction: row;
    /* padding:0px 20px 0px 20px; */
    justify-content: center;
    /* row-gap: 4; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
    /* flex-grow: 1; */
    margin-bottom: 10px;
}
#instructions,#ingredients{
    padding: 5px 40px 5px 40px;
}
#ingredients:hover{
    transform: scale(1.03);
    background-color: rgb(75, 54, 107);
    color: aliceblue;
}
#instructions:hover{
    transform: scale(1.03);
    background-color: rgb(81, 49, 103);
    color: aliceblue;
}

